<mat-toolbar>
  <div class="flex justify-between items-center w-full">
    <h1>Pokedex</h1>

    <mat-form-field [subscriptSizing]="'dynamic'" class="w-[30rem] max-sm:w-[15rem]">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        @for (option of (searchResults() | limit: 10); track option) {
          <mat-option [value]="option.pokemon_species.name">{{ option.pokemon_species.name }}</mat-option>
        } @empty {
          <mat-option>No element</mat-option>
        }
      </mat-autocomplete>

      <input type="text"
             placeholder="Search..."
             matInput
             [formControl]="searchInput"
             [matAutocomplete]="auto">
    </mat-form-field>
  </div>
</mat-toolbar>

@if (pokemon(); as pokemon) {
  <mat-card class="m-5">
    <div class="grid grid-cols-2 max-sm:grid-cols-1 p-5">
      <img [ngSrc]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name" [height]="400" [width]="400">
      <div class="p-5">
        <h1 class="text-3xl mb-5">{{ pokemon.name | uppercase }}</h1>
        <div class="flex flex-col gap-2">
          @if(pokemonSpecies(); as pokemonSpecies) {
            <p>{{ pokemonSpecies.flavor_text_entries[0].flavor_text }}</p>
          }
        </div>
      </div>
    </div>
  </mat-card>
} @else {
  <div class="py-10 w-full text-center text-gray-500">First, you have to search for a pokemon in the top right corner searchbar</div>
}
